$dark: #12485a;
//$light: #f9f7f7;
$warm: #DF6C53;
$offLight: #F0EFEF;
$secondary: #36718f;

@import "~bootstrap/scss/_functions.scss"; 
@import "~bootstrap/scss/_variables.scss";   //then import native bootstrap variables

$custom-colors: ( 
    "warm": $warm, 
    "offLight": $offLight
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '~bootstrap/scss/bootstrap.scss';

.we-do-h3 {
    font-size: 3em;
    border-bottom: 4px solid $warm;
  }

  .border-10 {
    --bs-border-width: 10px;
  }

  @media (max-width: 575.98px) { 
    .we-do-h3 {
        font-size: 2.4em;
        border-bottom: 4px solid $warm;
      }
   }

   .slim-scroll {
    /* width */
    &::-webkit-scrollbar {
        width: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #d2cdcd;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #645e5e;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #3a3a3a;
    }
}

.review-quote-size {
  height: 120px;
}