@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Golos Text", sans-serif;
  background-image: url("./images/bg.png");
  background-repeat: repeat-y;
}

main {
  margin-bottom: auto;
  height: 100%;
}

.josefinSans-text {
  font-family: "Josefin Sans", sans-serif;
}

.bg-light-fade {
  background-color: #dce9f8af;
}

#profile {
  position: sticky;
  top: 16px;
  box-shadow: 0px 0px 5px grey inset;
}

.navDropDownContents {
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  transition: 0.5s all;
}

.navDropDownContainer:hover .navDropDownContents {
  max-height: 180px;
}

#contactForm div {
  display: flex;
  flex-direction: column;
}

.contactFormInput {
  border: none;
  border-top: 1px solid rgb(205, 205, 205);
  padding: 8px;
  border-radius: 3px;
  background-color: #ffffff87;
}

.contactFormInput:focus-visible {
  transition: 0.5s all;
  outline: none;
  box-shadow: 0px 0px 5px grey inset;
  background-color: white;
}

.text-shadow {
  text-shadow: 2px 2px black;
}

.hero-img {
  height: 45vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.cert-logo {
  height: 60px;
  max-width: 150px;
  box-shadow: 0px 0px 5px rgb(67, 77, 86);
  border: 1px solid black;
}

.nav-brand-container {
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 1px rgba(93, 163, 168, 0.598);
  padding: 5px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-brand-container:hover {
  transition: all 0.2s;
  box-shadow: 3px 3px 8px rgba(48, 93, 96, 0.598);
  width: 52px;
  height: 52px;
}

.links-intro-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.welcome-title {
  font-size: 45px;
  font-weight: 1000;
}

.welcome-text {
  font-size: 20px;
  font-weight: 700;
  color: #37392e;
}

.welcome-text,
.welcome-title {
  color: #37392e;
  text-align: center;
  margin-top: 30px;
}

.homepage-links {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.links {
  margin-top: 30px;
}

.link-text {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  color: #37392e;
}

.offer-services-container {
  margin-top: 350px;
  height: 900px;
  background-color: #f4efef;
  padding-bottom: 120px;
}

.services-container {
  position: relative;
}

.services-title {
  margin-bottom: 640px;
  margin-left: 214px;
  font-size: 60px;
  color: #37392e;
}

.services {
  position: absolute;
  left: 20%;
  z-index: 2;
  height: 75%;
  width: 1100px;
  padding-bottom: 40px;
  background-color: #19647e;
}

.service-links-text {
}

.service-links-text img {
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.service-text {
  margin: 60px 100px 70px 60px;
  font-size: 20px;
  font-weight: 500;
  color: #f4efef;
}

.links-container {
  margin: 0 50px 20px 0;
}

.links-container img {
  height: 170px;
  width: 170px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.links-container p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 14px;
  color: #f4efef;
}

.book-new-links {
  position: relative;
}

.new-patient-link {
  position: absolute;
  left: 87%;
  height: 80px;
  width: 270px;
  margin-top: 100px;
  border-radius: 5px;
  background-color: #28afb0;
}

.new-patient-link p {
  font-size: 30px;
  /* font-weight: 800; */
  margin-top: 10px;
  color: #37392e;
}

.building-container {
  position: relative;
}

.building {
  position: absolute;
  bottom: 40%;
  height: 90%;
  width: 600px;
}

.reviews-office-img-container {
  background-color: #f4efef;
  padding-top: 150px;
}

.reviews-container {
  height: 100%;
  padding: 100px;
}

.review-text {
  font-size: 25px;
  text-align: center;
  color: #f4efef;
  margin-bottom: 20px;
}

.reviewer-name {
  font-size: 20px;
  color: #f4efef;
  margin-bottom: 10px;
}

.office-img-container {
  background-color: #28afb0;
  margin: 0;
}

.office-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews {
  background-color: #28afb0;
}

.stars {
  margin-bottom: 30px;
}

.more-reviews-button {
  all: unset;
  height: 80px;
  width: 240px;
  background-color: #19647e;
  text-align: center;
  font-size: 25px;
  color: #f4efef;
}

.map-container {
  height: 40vh;
}

.cert-container {
  height: 500px;
  background-color: #f9f7f7;
}

.cert1 {
  height: 150px;
  width: 200px;
}

.cert2 {
  height: 200px;
  width: 220px;
}

.cert3 {
  height: 150px;
  width: 200px;
}

.link-card {
  box-shadow: 0px 0px 3px grey;
  bottom: 0px;
  position: relative;
  transition: all 0.2s;
}

.link-card:hover {
  box-shadow: 2px 2px 8px grey;
  bottom: 5px;
}