@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Golos Text', sans-serif;
}

main {
    height: 100%;
    padding: 0% 2%;
}

.bg-light-fade {
    background-color: #f8f9faea;
}

#profile {
    position: sticky;
    top: 16px;
    box-shadow: 0px 0px 5px grey inset;
}

#nameHeading{
    font-family: 'Lobster', cursive;
    text-decoration: underline;
}

#portrait {
    width: 80%;
    border-radius: 100%;
    border: 1px solid grey;
}

.navDropDownContents {
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    transition: 0.5s all;
    box-shadow: 0px 0px 0px #212529;
}

.navDropDownContainer:hover .navDropDownContents{
    max-height: 180px;
    box-shadow: 0px 0px 1px #212529;
}

#contactForm div {
    display: flex;
    flex-direction: column;
}

.contactFormInput {
    border: none;
    border-top: 1px solid rgb(205, 205, 205);
    padding: 8px;
    border-radius: 3px;
    background-color: #ffffff87;
}

.contactFormInput:focus-visible {
    transition: 0.5s all;
    outline: none;
    box-shadow: 0px 0px 5px grey inset;
    background-color: white;
}

.text-shadow {
    text-shadow: 2px 2px black;
}